:root {
  --barva: #82d6a1;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #264563;
  height: 100%;
  font: 1em "Jetbrains Mono";
  color: white;
  text-align: center;
  margin: 0px;
  padding-top: 0px;
}

/* .background {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(5px);
} */

.kontejner {
  max-width: 900px;
  background-color: rgb(60, 60, 60, 0.4);
  backdrop-filter: blur(10px);
  margin: 0px auto;
  padding: 10px;
  border-radius: 15px;
  /* margin-top: 50px; */
}

.naslov h1 {
  margin: auto;
  font-size: 64px;
  text-shadow: 0 0 3px #000000, 0 0 5px var(--barva);
}

.section {
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

hr {
  width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#contacts {
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: var(--barva);
}

a:visited {
  text-decoration: dotted;
  color: var(--barva);
}

a:hover {
  color: #0c8c01;
}

.linkimg {
  border-radius: 5px;
}

.linkimg:hover {
  box-shadow: 3px 3px 3px #000000;
}

h1 {
  font-size: 48px;
}
